<a href="https://colab.research.google.com/github/ChamudiKashmila/Predict_AD/blob/main/classification_dt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
###### Set Up #####
# verify our folder with the data and module assets is installed
# if it is installed make sure it is the latest
!test -e ds-assets && cd ds-assets && git pull && cd ..
# if it is not installed clone it 
!test ! -e ds-assets && git clone https://github.com/ChamudiKashmila/Predict_AD.git
# point to the folder with the assets
home = "Predict_AD/Dataset/" 
import sys
sys.path.append(home)      # add home folder to module search path

fatal: destination path 'Predict_AD' already exists and is not an empty directory.

In [ ]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [ ]:
df = pd.read_csv(home+"ADNIMERGE.csv")

<ipython-input-147-4360ad659dc1>:1: DtypeWarning: Columns (19,20,21,104,105,106) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(home+"ADNIMERGE.csv")

In [ ]:
df.head(3)

,RID,COLPROT,ORIGPROT,PTID,SITE,VISCODE,EXAMDATE,DX_bl,AGE,PTGENDER,...,PTAU_bl,FDG_bl,PIB_bl,AV45_bl,FBB_bl,Years_bl,Month_bl,Month,M,update_stamp
0,2,ADNI1,ADNI1,011_S_0002,11,bl,2005-09-08,CN,74.3,Male,...,NaN,1.33615,NaN,NaN,NaN,0.000000,0.00000,0,0,2022-10-26 04:58:48.0
1,3,ADNI1,ADNI1,011_S_0003,11,bl,2005-09-12,AD,81.3,Male,...,22.83,1.10860,NaN,NaN,NaN,0.000000,0.00000,0,0,2022-10-26 04:58:48.0
2,3,ADNI1,ADNI1,011_S_0003,11,m06,2006-03-13,AD,81.3,Male,...,22.83,1.10860,NaN,NaN,NaN,0.498289,5.96721,6,6,2022-10-26 04:58:48.0

In [ ]:
df.shape

(16347, 116)

In [ ]:
AD_df = df[["VISCODE","DX_bl", "CDRSB", "ADAS11", "ADAS13", "MMSE", "RAVLT_immediate", "RAVLT_learning", "RAVLT_forgetting","RAVLT_perc_forgetting", "MOCA_bl","FAQ_bl", "Entorhinal_bl", "Fusiform_bl", "Hippocampus_bl", "ICV_bl", "MidTemp_bl", "Ventricles_bl", "WholeBrain_bl", "AV45_bl", "FDG_bl", "ABETA_bl", "TAU_bl", "PTAU_bl"]]

In [ ]:
AD_df

,VISCODE,DX_bl,CDRSB,ADAS11,ADAS13,MMSE,RAVLT_immediate,RAVLT_learning,RAVLT_forgetting,RAVLT_perc_forgetting,...,Hippocampus_bl,ICV_bl,MidTemp_bl,Ventricles_bl,WholeBrain_bl,AV45_bl,FDG_bl,ABETA_bl,TAU_bl,PTAU_bl
0,bl,CN,0.0,10.67,18.67,28.0,44.0,4.0,6.0,54.5455,...,8336.0,1984660.0,27936.0,118233.0,1229740.0,NaN,1.33615,NaN,NaN,NaN
1,bl,AD,4.5,22.00,31.00,20.0,22.0,1.0,4.0,100.0000,...,5319.0,1920690.0,18422.0,84599.0,1129830.0,NaN,1.10860,741.5,239.7,22.83
2,m06,AD,6.0,19.00,30.00,24.0,19.0,2.0,6.0,100.0000,...,5319.0,1920690.0,18422.0,84599.0,1129830.0,NaN,1.10860,741.5,239.7,22.83
3,m12,AD,3.5,24.00,35.00,17.0,31.0,2.0,7.0,100.0000,...,5319.0,1920690.0,18422.0,84599.0,1129830.0,NaN,1.10860,741.5,239.7,22.83
4,m24,AD,8.0,25.67,37.67,19.0,23.0,1.0,5.0,100.0000,...,5319.0,1920690.0,18422.0,84599.0,1129830.0,NaN,1.10860,741.5,239.7,22.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16342,m144,EMCI,NaN,6.33,10.33,28.0,49.0,9.0,3.0,23.0769,...,8053.0,1453130.0,19231.0,10402.0,1051490.0,1.0263,1.57382,>1700,245,19.84
16343,m114,SMC,NaN,3.33,8.33,28.0,49.0,6.0,5.0,41.6667,...,8146.0,1683200.0,24280.0,18436.0,1269740.0,1.0961,1.31171,>1700,196.4,18.55
16344,m132,EMCI,2.0,6.67,13.67,28.0,36.0,7.0,10.0,100.0000,...,6767.0,1362500.0,NaN,35363.0,1033420.0,1.0476,1.50128,1085,188.9,15.28
16345,m12,LMCI,5.0,22.00,32.00,23.0,19.0,1.0,5.0,100.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16346,m48,AD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4734.0,1419740.0,18513.0,61161.9,1016800.0,NaN,1.14402,NaN,NaN,NaN

In [ ]:
AD_df.shape

(16347, 24)

## Selected features

In [ ]:
AD_df.columns

Index(['VISCODE', 'DX_bl', 'CDRSB', 'ADAS11', 'ADAS13', 'MMSE',
       'RAVLT_immediate', 'RAVLT_learning', 'RAVLT_forgetting',
       'RAVLT_perc_forgetting', 'MOCA_bl', 'FAQ_bl', 'Entorhinal_bl',
       'Fusiform_bl', 'Hippocampus_bl', 'ICV_bl', 'MidTemp_bl',
       'Ventricles_bl', 'WholeBrain_bl', 'AV45_bl', 'FDG_bl', 'ABETA_bl',
       'TAU_bl', 'PTAU_bl'],
      dtype='object')

In [ ]:
#Select Rows where Column is Equal to Specific Value
#df.loc[df['col1'] == value]
AD_bl = AD_df.loc[AD_df["VISCODE"]=="bl"]

In [ ]:
AD_bl

,VISCODE,DX_bl,CDRSB,ADAS11,ADAS13,MMSE,RAVLT_immediate,RAVLT_learning,RAVLT_forgetting,RAVLT_perc_forgetting,...,Hippocampus_bl,ICV_bl,MidTemp_bl,Ventricles_bl,WholeBrain_bl,AV45_bl,FDG_bl,ABETA_bl,TAU_bl,PTAU_bl
0,bl,CN,0.0,10.67,18.67,28.0,44.0,4.0,6.0,54.5455,...,8336.0,1984660.0,27936.0,118233.0,1229740.0,NaN,1.33615,NaN,NaN,NaN
1,bl,AD,4.5,22.00,31.00,20.0,22.0,1.0,4.0,100.0000,...,5319.0,1920690.0,18422.0,84599.0,1129830.0,NaN,1.10860,741.5,239.7,22.83
5,bl,LMCI,1.0,14.33,21.33,27.0,37.0,7.0,4.0,36.3636,...,6869.0,1679440.0,19615.0,39605.0,1154980.0,NaN,NaN,1501.0,153.1,13.29
10,bl,CN,0.0,8.67,14.67,29.0,37.0,4.0,4.0,44.4444,...,7075.0,1640770.0,21614.0,34062.0,1116630.0,NaN,1.25956,547.3,337.0,33.43
15,bl,LMCI,0.5,18.67,25.67,25.0,30.0,1.0,5.0,83.3333,...,5348.0,1485830.0,17802.0,39826.0,927510.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16235,bl,SMC,0.0,0.67,0.67,30.0,59.0,8.0,0.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16237,bl,LMCI,3.5,20.33,31.33,28.0,22.0,4.0,6.0,85.7143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16257,bl,LMCI,0.5,16.33,23.33,27.0,31.0,4.0,6.0,75.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16326,bl,EMCI,0.5,5.00,7.00,30.0,45.0,8.0,5.0,38.4615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16338,bl,LMCI,0.5,15.67,16.67,30.0,48.0,7.0,9.0,75.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
AD_bl.shape

(2430, 24)

In [ ]:
AD_bl = AD_bl.dropna()
AD_bl.head(2)

,VISCODE,DX_bl,CDRSB,ADAS11,ADAS13,MMSE,RAVLT_immediate,RAVLT_learning,RAVLT_forgetting,RAVLT_perc_forgetting,...,Hippocampus_bl,ICV_bl,MidTemp_bl,Ventricles_bl,WholeBrain_bl,AV45_bl,FDG_bl,ABETA_bl,TAU_bl,PTAU_bl
76,bl,SMC,0.0,3.0,5.0,30.0,42.0,7.0,2.0,20.0,...,8297.0,1656460.0,21194.0,33185.0,1165500.0,0.9851,1.19409,731.8,101.2,10.08
77,bl,SMC,0.0,4.0,7.0,30.0,61.0,6.0,3.0,20.0,...,7654.0,1508210.0,18611.0,21327.0,1081140.0,0.9940,1.52448,992.8,170.4,16.66

In [ ]:
AD_bl.shape

(619, 24)

In [ ]:
AD_bl["DX_bl"].value_counts()

EMCI    219
CN      126
LMCI    114
AD       83
SMC      77
Name: DX_bl, dtype: int64

###Cognitively Normal (CN)
###Mild Cognitive Impairment (MCI) 
###Alzheimer's Disease (AD) 
###Significant Memory Concern (SMC) 
###Early Mild Cognitive Impairment (EMCI)
###Late Mild Cognitive Impairment (LMCI)

In [ ]:
# Select Rows where Column Value is in List of Values
# df.loc[df['col1'].isin([value1, value2, value3, ...])]
AD_bl = AD_bl.loc[AD_df["DX_bl"].isin(["CN","LMCI","AD"])]

In [ ]:
AD_bl.head(2)

,VISCODE,DX_bl,CDRSB,ADAS11,ADAS13,MMSE,RAVLT_immediate,RAVLT_learning,RAVLT_forgetting,RAVLT_perc_forgetting,...,Hippocampus_bl,ICV_bl,MidTemp_bl,Ventricles_bl,WholeBrain_bl,AV45_bl,FDG_bl,ABETA_bl,TAU_bl,PTAU_bl
1138,bl,AD,8.0,17.0,26.0,25.0,21.0,3.0,5.0,83.3333,...,7301.0,1672300.0,18920.0,44247.0,1177300.0,1.4471,0.964702,474.9,238.0,27.87
2077,bl,AD,5.0,18.0,29.0,25.0,28.0,1.0,5.0,100.0000,...,5411.0,1587280.0,16004.0,62632.0,998950.0,1.1290,0.981066,890.7,276.1,26.56

In [ ]:
AD_bl['DX_bl'].replace(["CN", "LMCI", "AD"], [1,2,3], inplace=True)

In [ ]:
AD_bl.head(3)

,VISCODE,DX_bl,CDRSB,ADAS11,ADAS13,MMSE,RAVLT_immediate,RAVLT_learning,RAVLT_forgetting,RAVLT_perc_forgetting,...,Hippocampus_bl,ICV_bl,MidTemp_bl,Ventricles_bl,WholeBrain_bl,AV45_bl,FDG_bl,ABETA_bl,TAU_bl,PTAU_bl
1138,bl,3,8.0,17.0,26.0,25.0,21.0,3.0,5.0,83.3333,...,7301.0,1672300.0,18920.0,44247.0,1177300.0,1.4471,0.964702,474.9,238.0,27.87
2077,bl,3,5.0,18.0,29.0,25.0,28.0,1.0,5.0,100.0000,...,5411.0,1587280.0,16004.0,62632.0,998950.0,1.1290,0.981066,890.7,276.1,26.56
2386,bl,3,3.5,25.0,35.0,20.0,18.0,3.0,5.0,100.0000,...,6396.0,1673150.0,19176.0,55669.0,1077810.0,1.2563,1.129770,675.3,380.5,34.47

In [ ]:
AD_bl = AD_bl.drop(["VISCODE"],axis=1)

In [ ]:
## Delete the rows which containing non neumerical values
#df = df.apply(pd.to_numeric, errors='coerce')
# drop rows with NaN values
#df = df.dropna()
AD_bl = AD_bl.apply(pd.to_numeric, errors='coerce') 
AD_bl = AD_bl.dropna()

In [ ]:
AD_bl

,DX_bl,CDRSB,ADAS11,ADAS13,MMSE,RAVLT_immediate,RAVLT_learning,RAVLT_forgetting,RAVLT_perc_forgetting,MOCA_bl,...,Hippocampus_bl,ICV_bl,MidTemp_bl,Ventricles_bl,WholeBrain_bl,AV45_bl,FDG_bl,ABETA_bl,TAU_bl,PTAU_bl
1138,3,8.0,17.0,26.0,25.0,21.0,3.0,5.0,83.3333,19.0,...,7301.0,1672300.0,18920.0,44247.0,1177300.0,1.4471,0.964702,474.9,238.0,27.87
2077,3,5.0,18.0,29.0,25.0,28.0,1.0,5.0,100.0000,24.0,...,5411.0,1587280.0,16004.0,62632.0,998950.0,1.1290,0.981066,890.7,276.1,26.56
2386,3,3.5,25.0,35.0,20.0,18.0,3.0,5.0,100.0000,18.0,...,6396.0,1673150.0,19176.0,55669.0,1077810.0,1.2563,1.129770,675.3,380.5,34.47
2672,3,6.0,37.0,49.0,20.0,24.0,0.0,6.0,100.0000,9.0,...,6384.0,1287540.0,11193.0,26219.0,822547.0,1.5503,0.766655,578.0,440.2,39.92
3083,3,5.5,25.0,35.0,23.0,20.0,1.0,4.0,100.0000,21.0,...,6269.0,1652750.0,19446.0,76495.0,1107880.0,1.5762,1.059940,886.2,627.9,67.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9142,2,2.0,13.0,23.0,24.0,27.0,3.0,4.0,57.1429,19.0,...,4831.0,1374220.0,17365.0,27053.0,927093.0,1.7432,0.982891,486.2,470.0,46.46
9148,1,0.0,3.0,5.0,30.0,56.0,4.0,3.0,23.0769,29.0,...,6869.0,1262880.0,18529.0,15418.0,902834.0,1.0244,1.343520,1192.0,155.5,12.23
9166,2,1.0,7.0,11.0,27.0,45.0,9.0,3.0,23.0769,28.0,...,9311.0,1755670.0,24657.0,19852.0,1278260.0,1.0747,1.372170,1063.0,268.1,25.32
9178,3,4.5,19.0,31.0,25.0,27.0,0.0,5.0,100.0000,25.0,...,6350.0,1445040.0,17445.0,34273.0,970061.0,1.6800,1.092420,934.2,616.4,67.97
9219,1,0.0,6.0,8.0,29.0,53.0,7.0,5.0,38.4615,25.0,...,5796.0,1308120.0,18141.0,31817.0,911317.0,1.3617,1.286730,681.8,160.6,14.52

In [ ]:
AD_bl["DX_bl"].value_counts()

2    102
3     80
1     77
Name: DX_bl, dtype: int64

# DT Classifier

In [ ]:
#split dataset in features and target variable
feature_cols = ["CDRSB", "ADAS11", "ADAS13", "MMSE", "RAVLT_immediate", "RAVLT_learning", "RAVLT_forgetting","RAVLT_perc_forgetting", "MOCA_bl","FAQ_bl", "Entorhinal_bl", "Fusiform_bl", "Hippocampus_bl", "ICV_bl", "MidTemp_bl", "Ventricles_bl", "WholeBrain_bl", "AV45_bl", "FDG_bl", "ABETA_bl", "TAU_bl", "PTAU_bl"]
X = AD_bl[feature_cols] # Features
## I remeve "ABETA_bl" column becouse it contains >1700 ##################

In [ ]:
X

,CDRSB,ADAS11,ADAS13,MMSE,RAVLT_immediate,RAVLT_learning,RAVLT_forgetting,RAVLT_perc_forgetting,MOCA_bl,FAQ_bl,...,Hippocampus_bl,ICV_bl,MidTemp_bl,Ventricles_bl,WholeBrain_bl,AV45_bl,FDG_bl,ABETA_bl,TAU_bl,PTAU_bl
1138,8.0,17.0,26.0,25.0,21.0,3.0,5.0,83.3333,19.0,19.0,...,7301.0,1672300.0,18920.0,44247.0,1177300.0,1.4471,0.964702,474.9,238.0,27.87
2077,5.0,18.0,29.0,25.0,28.0,1.0,5.0,100.0000,24.0,12.0,...,5411.0,1587280.0,16004.0,62632.0,998950.0,1.1290,0.981066,890.7,276.1,26.56
2386,3.5,25.0,35.0,20.0,18.0,3.0,5.0,100.0000,18.0,9.0,...,6396.0,1673150.0,19176.0,55669.0,1077810.0,1.2563,1.129770,675.3,380.5,34.47
2672,6.0,37.0,49.0,20.0,24.0,0.0,6.0,100.0000,9.0,17.0,...,6384.0,1287540.0,11193.0,26219.0,822547.0,1.5503,0.766655,578.0,440.2,39.92
3083,5.5,25.0,35.0,23.0,20.0,1.0,4.0,100.0000,21.0,26.0,...,6269.0,1652750.0,19446.0,76495.0,1107880.0,1.5762,1.059940,886.2,627.9,67.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9142,2.0,13.0,23.0,24.0,27.0,3.0,4.0,57.1429,19.0,1.0,...,4831.0,1374220.0,17365.0,27053.0,927093.0,1.7432,0.982891,486.2,470.0,46.46
9148,0.0,3.0,5.0,30.0,56.0,4.0,3.0,23.0769,29.0,0.0,...,6869.0,1262880.0,18529.0,15418.0,902834.0,1.0244,1.343520,1192.0,155.5,12.23
9166,1.0,7.0,11.0,27.0,45.0,9.0,3.0,23.0769,28.0,0.0,...,9311.0,1755670.0,24657.0,19852.0,1278260.0,1.0747,1.372170,1063.0,268.1,25.32
9178,4.5,19.0,31.0,25.0,27.0,0.0,5.0,100.0000,25.0,15.0,...,6350.0,1445040.0,17445.0,34273.0,970061.0,1.6800,1.092420,934.2,616.4,67.97
9219,0.0,6.0,8.0,29.0,53.0,7.0,5.0,38.4615,25.0,0.0,...,5796.0,1308120.0,18141.0,31817.0,911317.0,1.3617,1.286730,681.8,160.6,14.52

In [ ]:
y = AD_bl.DX_bl

In [ ]:
y

1138    3
2077    3
2386    3
2672    3
3083    3
       ..
9142    2
9148    1
9166    2
9178    3
9219    1
Name: DX_bl, Length: 259, dtype: int64

In [ ]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1) # 80% training and 20% test

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

In [ ]:
# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

In [ ]:
#df[df.id.apply(lambda x: x.isnumeric())]

In [ ]:
#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9038461538461539

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
# build and print the confusion matrix 
labels = [1,2,3]
cm = confusion_matrix(y_test, y_pred, labels=labels)
cm_df = pd.DataFrame(cm, index=labels, columns=labels)
print("Confusion Matrix:\n{}".format(cm_df))

Confusion Matrix:
    1   2   3
1  16   1   0
2   2  19   2
3   0   0  12

In [ ]:
target_names=['CN','LMCI', 'AD']
print(classification_report(y_test,y_pred,target_names=target_names))

              precision    recall  f1-score   support

          CN       0.89      0.94      0.91        17
        LMCI       0.95      0.83      0.88        23
          AD       0.86      1.00      0.92        12

    accuracy                           0.90        52
   macro avg       0.90      0.92      0.91        52
weighted avg       0.91      0.90      0.90        52

## Split dataset into 70:30

In [ ]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 80% training and 20% test

In [ ]:
# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

In [ ]:
#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8846153846153846

In [ ]:
# build and print the confusion matrix 
labels = [1,2,3]
cm = confusion_matrix(y_test, y_pred, labels=labels)
cm_df = pd.DataFrame(cm, index=labels, columns=labels)
print("Confusion Matrix:\n{}".format(cm_df))

Confusion Matrix:
    1   2   3
1  22   3   0
2   2  26   3
3   0   1  21

In [ ]:
target_names=['CN','LMCI', 'AD']
print(classification_report(y_test,y_pred,target_names=target_names))

              precision    recall  f1-score   support

          CN       0.92      0.88      0.90        25
        LMCI       0.87      0.84      0.85        31
          AD       0.88      0.95      0.91        22

    accuracy                           0.88        78
   macro avg       0.89      0.89      0.89        78
weighted avg       0.89      0.88      0.88        78

#Random forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split

In [ ]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1) # 80% training and 20% test

In [ ]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier()

In [ ]:
y_pred = rf.predict(X_test)

In [ ]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9230769230769231

In [ ]:
# build and print the confusion matrix 
labels = [1,2,3]
cm = confusion_matrix(y_test, y_pred, labels=labels)
cm_df = pd.DataFrame(cm, index=labels, columns=labels)
print("Confusion Matrix:\n{}".format(cm_df))

Confusion Matrix:
    1   2   3
1  16   1   0
2   0  20   3
3   0   0  12

In [ ]:
target_names=['CN','LMCI', 'AD']
print(classification_report(y_test,y_pred,target_names=target_names))

              precision    recall  f1-score   support

          CN       1.00      0.94      0.97        17
        LMCI       0.95      0.87      0.91        23
          AD       0.80      1.00      0.89        12

    accuracy                           0.92        52
   macro avg       0.92      0.94      0.92        52
weighted avg       0.93      0.92      0.92        52

In [ ]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [ ]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier()

In [ ]:
y_pred = rf.predict(X_test)

In [ ]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9102564102564102

In [ ]:
# build and print the confusion matrix 
labels = [1,2,3]
cm = confusion_matrix(y_test, y_pred, labels=labels)
cm_df = pd.DataFrame(cm, index=labels, columns=labels)
print("Confusion Matrix:\n{}".format(cm_df))

Confusion Matrix:
    1   2   3
1  22   3   0
2   0  28   3
3   0   1  21

In [ ]:
target_names=['CN','LMCI', 'AD']
print(classification_report(y_test,y_pred,target_names=target_names))

              precision    recall  f1-score   support

          CN       1.00      0.88      0.94        25
        LMCI       0.88      0.90      0.89        31
          AD       0.88      0.95      0.91        22

    accuracy                           0.91        78
   macro avg       0.92      0.91      0.91        78
weighted avg       0.92      0.91      0.91        78