In [1]:
# Load libraries
import pandas as pd
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score

from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV, StratifiedKFold
from sklearn.model_selection import cross_val_score
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\abeys\Downloads\phd\Predict_AD\Dataset\ADNIMERGE.csv")
df_size = df.shape
print(df_size)
df.head(3)

(16347, 116)

C:\Users\abeys\AppData\Local\Temp\ipykernel_28568\3771501866.py:1: DtypeWarning: Columns (19,20,21,104,105,106) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\abeys\Downloads\phd\Predict_AD\Dataset\ADNIMERGE.csv")

,RID,COLPROT,ORIGPROT,PTID,SITE,VISCODE,EXAMDATE,DX_bl,AGE,PTGENDER,...,PTAU_bl,FDG_bl,PIB_bl,AV45_bl,FBB_bl,Years_bl,Month_bl,Month,M,update_stamp
0,2,ADNI1,ADNI1,011_S_0002,11,bl,2005-09-08,CN,74.3,Male,...,NaN,1.33615,NaN,NaN,NaN,0.000000,0.00000,0,0,2022-10-26 04:58:48.0
1,3,ADNI1,ADNI1,011_S_0003,11,bl,2005-09-12,AD,81.3,Male,...,22.83,1.10860,NaN,NaN,NaN,0.000000,0.00000,0,0,2022-10-26 04:58:48.0
2,3,ADNI1,ADNI1,011_S_0003,11,m06,2006-03-13,AD,81.3,Male,...,22.83,1.10860,NaN,NaN,NaN,0.498289,5.96721,6,6,2022-10-26 04:58:48.0

In [3]:
AD_df = df[["VISCODE","DX_bl", "CDRSB", "ADAS11", "ADAS13", "MMSE", "RAVLT_immediate", "RAVLT_learning", "RAVLT_forgetting","RAVLT_perc_forgetting", "MOCA_bl","FAQ_bl", "Entorhinal_bl", "Fusiform_bl", "Hippocampus_bl", "ICV_bl", "MidTemp_bl", "Ventricles_bl", "WholeBrain_bl", "AV45_bl", "FDG_bl", "ABETA_bl", "TAU_bl", "PTAU_bl"]]
print(AD_df.shape)
AD_df.head(1)

(16347, 24)

,VISCODE,DX_bl,CDRSB,ADAS11,ADAS13,MMSE,RAVLT_immediate,RAVLT_learning,RAVLT_forgetting,RAVLT_perc_forgetting,...,Hippocampus_bl,ICV_bl,MidTemp_bl,Ventricles_bl,WholeBrain_bl,AV45_bl,FDG_bl,ABETA_bl,TAU_bl,PTAU_bl
0,bl,CN,0.0,10.67,18.67,28.0,44.0,4.0,6.0,54.5455,...,8336.0,1984660.0,27936.0,118233.0,1229740.0,NaN,1.33615,NaN,NaN,NaN

In [4]:
AD_df.columns

Index(['VISCODE', 'DX_bl', 'CDRSB', 'ADAS11', 'ADAS13', 'MMSE',
       'RAVLT_immediate', 'RAVLT_learning', 'RAVLT_forgetting',
       'RAVLT_perc_forgetting', 'MOCA_bl', 'FAQ_bl', 'Entorhinal_bl',
       'Fusiform_bl', 'Hippocampus_bl', 'ICV_bl', 'MidTemp_bl',
       'Ventricles_bl', 'WholeBrain_bl', 'AV45_bl', 'FDG_bl', 'ABETA_bl',
       'TAU_bl', 'PTAU_bl'],
      dtype='object')

In [5]:
#Select Rows where Column is Equal to Specific Value
#df.loc[df['col1'] == value]
AD_bl = AD_df.loc[AD_df["VISCODE"]=="bl"]
print(AD_bl.shape)
AD_bl.head(1)

(2430, 24)

,VISCODE,DX_bl,CDRSB,ADAS11,ADAS13,MMSE,RAVLT_immediate,RAVLT_learning,RAVLT_forgetting,RAVLT_perc_forgetting,...,Hippocampus_bl,ICV_bl,MidTemp_bl,Ventricles_bl,WholeBrain_bl,AV45_bl,FDG_bl,ABETA_bl,TAU_bl,PTAU_bl
0,bl,CN,0.0,10.67,18.67,28.0,44.0,4.0,6.0,54.5455,...,8336.0,1984660.0,27936.0,118233.0,1229740.0,NaN,1.33615,NaN,NaN,NaN

In [7]:
  AD_bl["DX_bl"].value_counts()

LMCI    690
CN      541
EMCI    422
AD      411
SMC     352
Name: DX_bl, dtype: int64

## Selected categories  
### CN - 541 
### LMCI - 690  
### AD - 411